.info-top {
    display:flex;
}

.info-buttons {
    display:flex;
    justify-content: center;
    margin-bottom:100px;
}

.info-top{
    background-color:cadetblue;
    color:white;
}

.info-top:hover {
    background-color:teal;
    color:white;
}

@media (max-width: 425px) {
    .info-top {
        padding:2vw;
        flex-direction:column;
        margin-bottom: 10px;
    }
    .info-content {
        font-size: 16px;
    }
    .info-user {
        margin-bottom: 10px;
        font-size: 18px
    }
    .info-title {
        font-size: 8vw;;
        margin:auto auto auto auto;
    }
    .info-avatar {
        margin:auto;
        width:60vw;
    }

    .info-buttons {
        margin-top:10px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .info-top {
        flex-direction:column;
        margin-bottom: 10px;
        padding:10px
    }
    .info-content {
        font-size: 20px;
    }
    .info-user {
        margin-bottom: 10px;
        font-size: 22px
    }
    .info-title {
        font-size:4vw;
        margin:auto auto auto auto;
    }
    .info-avatar {
        width:30vw;
        margin:auto;
    }

    .info-buttons {
        margin-top:10px
    }

}


@media (min-width: 769px) and (max-width: 1024px) {
    .info-top {
        flex-direction:row;
        margin-bottom: 10px;
        padding:10px;
    }
    .info-content {
        font-size: 20px;
    }
    .info-user {
        margin-bottom: 10px;
        font-size: 24px
    }
    .info-title {
        font-size:4vw;
        margin:auto auto auto 30px;
    }
    .info-avatar {
        width:20vw;
    }

    .info-buttons {
        margin-top:10px
    }

}

@media (min-width: 1025px) {
    .info-top {
        flex-direction:row;
        padding:10px;
        margin-bottom: 10px;
    }
    .info-content {
        font-size: 20px;
    }
    .info-user {
        margin-bottom: 10px;
        font-size: 24px
    }
    .info-title {
        font-size:50px;
        margin:auto auto auto 30px;
    }
    .info-avatar {
        width:200px;
        height:200px;
    }

    .info-buttons {
        margin-top:20px
    }

}