.InfoPage {
    text-align:center;
    width:100%;
    height:150vh;
    display:grid;
    grid-template-areas:
    "nav"
    "content"
    "footer";
    grid-template-rows: 64px 1fr;
}

.nav {
    grid-area:nav;
}

.info-content {
    grid-area:content;
    display:grid;
}

.footer {
    grid-area:footer;
}

.Name {
    grid-area:name;
}

.Desc {
    text-align:left;
    grid-area:desc;
}

.Info {
    text-align:left;
    grid-area:info;
}

.Remove {
    grid-area:remove;
}

.Back {
    grid-area:back
}

.task-section {
    grid-area:task;
}

.req-section {
    grid-area:reqs;
}

.contact-section {
    grid-area:contact;
}

.location-section {
    grid-area:location;
}

.time-section {
    grid-area:time;
}

.additional-info-section {
    grid-area:additional;
}

@media (max-width: 425px) {
    .image {
        width:250px;
        height:250px;
        margin:10px;
    }

    .info-content {
        margin-top:30px;
        grid-template-rows: 64px 320px 1fr;
        grid-template-areas:
        "name"
        "image" 
        "desc"
        "info"
        "remove"
        "back";
    }

    .Desc {
        margin:15px 15px 0 15px;
        font-size:16px;
    }

    .Info {
        display:grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas:
        "task" 
        "reqs"
        "contact" 
        "location" 
        "time"
        "additional";
        margin:15px 15px 0 15px;
        font-size:16px;
    }

    .info-info {
        margin-left:10px;
    }

    .info-section {
        margin:15px;
    }

    .info-btn {
        font-size:24px;
    }

    .Back {
        margin-top:20px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    .image {
        width:250px;
        height:250px;
        margin:10px;
    }

    .info-content {
        margin-top:30px;
        grid-template-rows: 64px 320px 1fr;
        grid-template-columns: 320px 1fr;
        grid-template-areas:
        "name name"
        "image desc"
        "info info"
        "remove remove"
        "back back";
    }

    .Desc {
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .Info {
        display:grid;
        grid-template-columns: (3 1fr);
        grid-template-areas:
        "task reqs reqs"
        "contact location time"
        "additional additional additional";
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .info-info {
        margin-left:48px;
    }

    .info-section {
        margin:15px;
    }

    .info-btn {
        font-size:24px;
    }

    .Back {
        margin-top:50px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .image {
        width:250px;
        height:250px;
        margin:10px;
    }

    .info-content {
        margin-top:30px;
        grid-template-rows: 64px 320px 1fr;
        grid-template-columns: 320px 1fr;
        grid-template-areas:
        "name name"
        "image desc"
        "info info"
        "remove remove"
        "back back";
    }

    .Desc {
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .Info {
        display:grid;
        grid-template-columns: (3 1fr);
        grid-template-areas:
        "task reqs reqs"
        "contact location time"
        "additional additional additional";
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .info-info {
        margin-left:48px;
    }

    .info-section {
        margin:15px;
    }

    .info-btn {
        font-size:24px;
    }

    .Back {
        margin-top:50px;
    }

}

@media (min-width: 1025px) {

    .image {
        width:250px;
        height:250px;
        margin:10px;
    }

    .info-content {
        margin-top:30px;
        grid-template-rows: 64px 320px 1fr;
        grid-template-columns: 320px 1fr;
        grid-template-areas:
        "name name"
        "image desc"
        "info info"
        "remove remove"
        "back back";
    }

    .Desc {
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .Info {
        display:grid;
        grid-template-columns: (3 1fr);
        grid-template-areas:
        "task reqs reqs"
        "contact location time"
        "additional additional additional";
        margin:20px 20px 0 20px;
        font-size:16px;
    }

    .info-info {
        margin-left:48px;
    }

    .info-section {
        margin:15px;
    }

    .info-btn {
        font-size:24px;
    }

    .Back {
        margin-top:50px;
    }
}