.LandingPage {
    background-color:white;
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: 36px 6fr 2fr 2fr 1fr;
    grid-template-areas:
    "nav"
    "logo"
    "login" 
    "register"
    "footer"
}

.logo {
    margin-left:auto;
    margin-right:auto;
    grid-area:logo;
}

.login {grid-area:login;}
.register {grid-area:register;}
.nav {
    grid-area: nav;
    max-height: 64px;
}

.footer {
    grid-area:footer;
    margin-bottom:0;
}

.LandingPageBtn {
    text-decoration: none;
    font-weight: bold;
    font-family:calibri;
    color:cadetblue;

    display: inline-block;

    border-radius: 25px;
}

.LandingPageBtn:hover {
    background-color: teal;
    color: white;
    transition: background-color 0.5s ease-out;
}

@media (max-width: 425px) {
    .logo {
        margin-top: 10vh;
        width: 50vw;
    }

    .LandingPageBtn {
        margin-top: 4vh;
        font-size:6vw;
        padding:2vh 5vw 2vh 5vw;
        width: 70vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {

    .logo {
        margin-top: 100px;
        width: 40vw;
    }

    .LandingPageBtn {
        margin-top:3vh;
        font-size:5vw;
        padding:3vh 0vw 3vh 0vw;
        width: 70vw;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .logo {
        margin-top: 100px;
        width: 30vw;
        height: 24vw;
    }

    .LandingPageBtn {
        margin-top:5vh;
        width:40vw;
        padding:2vh 0vw 2vh 0vw;
        font-size: 3vw;
    }
}

@media (min-width: 1025px) {
    .logo {
        margin:10vh auto 0 auto;
        width: 30vh;
    }

    .LandingPageBtn {
        margin: 2vh auto 2vh auto;
        width:40vw;
        padding:3vh 0 3vh 0;
        font-size: 2vw;
    }
}