.LandingPage {
    background-color:white;
    width:100vw;
    max-width: 1500px;
    height:100vh;
    display:grid;
    grid-template-rows: 36px 1fr 6fr 2fr 1fr;
    grid-template-areas:
    "nav"
    "logo"
    "login" 
    "register"
    "footer"
}

.logo {
    margin-left:auto;
    margin-right:auto;
    grid-area:logo;
}

.login {grid-area:login;}
.register {grid-area:register;}
.nav {
    grid-area: nav;
    max-height: 64px;
}

.footer {
    grid-area:footer;
    margin-bottom:0;
}

.LandingPageBtn {
    text-decoration: none;
    font-weight: bold;
    font-family:calibri;
    color:white;

    background-color: cadetblue;

    display: inline-block;

    border-radius: 25px;
}

.LandingPageBtn:hover {
    background-color: teal;
    color: white;
    transition: background-color 0.5s ease-out;
}

@media (max-width: 425px) {
    .logo {
        margin-top: 5vh;
        width: 60vw;
        height: 50vw;
    }

    .LandingPageBtn {
        margin-top: 3vh;
        font-size:10vw;
        padding:2vh 5vw 2vh 5vw;
        width: 50vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .logo {
        margin-top: 100px;
        width: 40vw;
        height: 30vw;
    }

    .LandingPageBtn {
        font-size:6vw;
        padding:3vh 0vw 3vh 0vw;
        width: 50vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        margin-top: 100px;
        width: 30vw;
        height: 24vw;
    }

    .LandingPageBtn {
        width:40vw;
        padding:3vh 0vw 3vh 0vw;
        font-size: 4vw;
    }
}

@media (min-width: 1025px) {
    .logo {
        margin:6vh auto 6vh auto;
        width: 19vw;
        height: 15vw;
    }

    .LandingPageBtn {
        width:20vw;
        padding:3vh 0 3vh 0;
        font-size: 2vw;
    }
}