.LandingPage {
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-areas:
        "logo"
        "login"
        "register";
}

.logo {
    margin-left:auto;
    margin-right:auto;
    grid-area:logo;
}

.login {
    margin:auto;
    grid-area:login;
}

.register {
    margin:auto;
    grid-area:register;
}

.LandingPageBtn {
    text-decoration: none;
    font-weight: bold;
    font-family:calibri;
    color:white;

    background-color: cadetblue;

    display: inline-block;

    border-radius: 25px;
}

.LandingPageBtn:hover {
    background-color: teal;
    color: white;
    transition: background-color 0.5s ease-out;
}

@media (max-width: 425px) {
    .LandingPage {
        grid-template-columns:repeat(1, 1fr);
        grid-template-areas:
        "logo"
        "login"
        "register"
    }

    .logo {
        margin-top: 100px;
        width: 70vw;
        height: 58vw;
    }

    .LandingPageBtn {
        font-size:10vw;
        padding:3vh 5vw 3vh 5vw;
        width: 50vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .LandingPage {
        grid-template-columns:repeat(1, 1fr);
        grid-template-areas:
        "logo"
        "login"
        "register"
    }

    .logo {
        margin-top: 100px;
        width: 40vw;
        height: 30vw;
    }

    .LandingPageBtn {
        font-size:6vw;
        padding:3vh 0vw 3vh 0vw;
        width: 50vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .LandingPage {
        grid-template-columns:repeat(2, 1fr);
        grid-template-areas:
        "logo logo"
        "login register"
    }

    .logo {
        margin-top: 100px;
        width: 30vw;
        height: 24vw;
    }

    .LandingPageBtn {
        width:40vw;
        padding:3vh 0vw 3vh 0vw;
        font-size: 4vw;
    }
}

@media (min-width: 1025px) and (max-width:2048px) {
    .LandingPage {
        border: lightslategrey 10px solid;
        margin: 5vh 10vw 5vh 10vw;
        height:90vh;
        width:80vw;
        grid-template-columns:repeat(2, 1fr);
        grid-template-areas:
        "logo login"
        "logo register"
    }

    .logo {
        margin:auto;
        width: 30vw;
        height: 23vw;
    }

    .LandingPageBtn {
        width:20vw;
        padding:3vh 0 3vh 0;
        font-size: 2vw;
    }
}

@media (min-width: 2049px) {
    .LandingPage {
        width:40vw;
        grid-template-columns:repeat(2, 1fr);
        grid-template-areas:
        "logo logo"
        "login register"
    }

    .logo {
        margin-top: 200px;
        width: 20vw;
        height: 15vw;
    }

    .LandingPageBtn {
        width:20vw;
        padding:3vh 0 3vh 0;
        font-size: 3vw;
    }
}