.UserProfilePage {
    display: grid;
    grid-template-rows: 36px 0.5fr 1fr 0.3fr 0.3fr;
    width: 100%;
    height: 100vh;
}

.UserProfile_Header {
    width:100%;
}

.navbar {
    grid-area:navbar;
}

.UserProfile_Info {
    grid-area: info;
    width: 100%;
    max-width: 1500;
    background-color: #FFFFFF;
    margin:auto;
}

.UserProfileBtn {
    text-decoration: none;
    font-weight: bold;
    font-family:calibri;
    color:white;

    background-color: lightblue;

    display: inline-block;

    border-radius: 25px;

}

.UserProfileBtn:hover {
    background-color: teal;
    color: white;
    transition: background-color 0.5s ease-out;
}

.edit {
    grid-area: edit;
}

.back {
    grid-area: back;
}
@media (max-width: 425px) {
    .UserProfilePage {
        grid-template-areas: 
        "nav"
        "header"
        "info"
        "edit"
        "back"
    }

    .UserProfileBtn {
        font-size:5vw;
        padding:3vh 5vw 3vh 5vw;
        width: 50vw;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .UserProfilePage {
        grid-template-areas:
        "nav"
        "header"
        "info"
        "edit"
        "back"
    }

    .UserProfile_Info {
        margin-left:5%;
        width:95%;
        height:100%;
    }

    .UserProfileBtn {
        font-size:3vw;
        padding:3vh 0vw 3vh 0vw;
        width: 40vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .UserProfilePage {
        grid-template-areas:
        "nav"
        "header"
        "info"
        "edit"
        "back"
    }

    .UserProfileBtn {
        width:25vw;
        padding:2vh 0vw 2vh 0vw;
        font-size: 2vw;
    }

    .UserProfile_Info {
        margin-left:5%;
        width:95%;
        height:100%;
    }
}

@media (min-width: 1025px) {
    .UserProfilePage {
        grid-template-areas:
        "navbar"
        "header"
        "info"
        "edit"
        "back"
    }

    .UserProfileBtn {
        margin:auto;
        width:10vw;
        padding:2vh 0 2vh 0;
        font-size: 1vw;
    }

    .UserProfile_Info {
        margin-left:5%;
        width:95%;
        height:100%;
    }
}