.WelcomePage{
    display:grid;
    width:100%;
    height:100vh;
    grid-template-rows:36px 1fr 0.7fr 0.7fr 1fr 1fr;
    grid-template-areas:
    "nav"
    "logo"
    "name"
    "buttons"
    "footer"
}

.nav {
    grid-area:nav;
}

.footer {
    grid-area:footer;
    margin-bottom:0;
}

.logo2 {
    grid-area:logo;
}

.con-1 {
    justify-content: center;
}

.WelcomePageBtn {
    grid-area:buttons;
    text-decoration: none;
    font-weight: bold;

    display: inline-block;
    width: 50%;
}

.WelcomePageBtn:hover {
    background-color: #81c784;
    color: #ffffff;
    transition: background-color 0.5s ease-out;
}

.WelcomePageName {
    grid-area:name;
    color: #81c784;
    font-weight: bold;
}
@media (max-width: 425px) {


    .logo2 {
        margin:7vh auto auto auto;
        width:20vh;
        height:15vh;
    }
    
    .WelcomePageBtn {
        font-size: 5vw;
        width: 50%; 
        padding: 2vh;
        border-radius: 25px;
    }
    
    .WelcomePageName {
        margin: 5vh 0 3vh 0;
        font-size: 5vw;
    }

    .logout-btn {
        margin:1vh auto auto auto;;
    }


}

@media (min-width: 426px) and (max-width: 768px) {

    .logo2 {
        margin:7vh auto auto auto;
        width:40vw;
        height:30vw;
    }
    
    .WelcomePageBtn {
        font-size: 3vw;
        width: 50%; 
        padding: 1.3em;
        border-radius: 25px;
    }
    
    .WelcomePageName {
        margin: 5vh 0 5vh 0;
        font-size: 3vw;
    }

    .logout-btn {
        margin:0 auto auto auto;;
    }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .logo2 {
        margin:10vh auto auto auto;
        width:20vw;
        height:15vw;
    }
    
    .WelcomePageBtn {
        font-size: 2vw;
        width: 50%; 
        padding: 1.3em;
        border-radius: 25px;
    }
    
    .WelcomePageName {
        margin: 5vh 0 5vh 0;
        font-size: 2vw;
    }

    .logout-btn {
        margin:2vh auto auto auto;;
    }

}

@media (min-width: 1025px) {

    .logo2 {
        margin:7vh auto auto auto;
        width:20vw;
        height:15vw;
    }
    
    .WelcomePageBtn {
        font-size: 1.5vw;
        width: 50%; 
        padding: 0.8em;
        border-radius: 25px;
    }
    
    .WelcomePageName {
        margin: 5vh 0 5vh 0;
        font-size: 1.5vw;
    }

    .logout-btn {
        margin:1vh auto auto auto;
    }

}